/* Default */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    background: #000;
}

/* Default */

/* Navbar */

.navbar {
    padding: 10px 20px;
}

.navbar-toggler:hover {
    background-color: #00D315;
}

.nav-link:hover {
    color: #f3f1f1!important;
}

/* Navbar */

/* Info */

.my-info {
    color: #fff;
    padding: 2rem 5rem;
}

/* Info */

/* Buttons */

.btn-color {
    padding: 0.5rem 1.2rem;
    color: #fff!important;
    margin-top: 20px;
    margin-left: 10px;
    border: 1px solid #fff;
    border-radius: 30px;
    transition: 0.7s ease;
}

.btn-color:hover {
    background: #00D315!important;
}

/* Buttons */

/* Table */

caption {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.table-light {
    --bs-table-hover-bg: grey;
}

.table-dark {
    color: #fff;
}

/* Table */

/* Footer */

footer {
    font-size: small;
    clear: both;
    position: relative;
    height: 50px;
    margin-top: 50px;
}

footer p {
    margin-bottom: 0;
    text-align: center;
}

footer:hover {
    background-color: #00D315;
    color: #ffffff;
    transition: 0.6s ease-in;
}

/* Footer */